a.cart-table-link,
li.cart-table-link {
    color: #FF8B03  !important;
    background: white  !important;
}

a.cart-table-link:hover {
  color: #18BC9C  !important;
}
a.cart-table-link:focus,
a.cart-table-link:active{
  color: #FF8B03  !important;
}
a.cart-table-link:hover,
a.cart-table-linka:focus,
a.cart-table-link:active{
  color: #FF8B03  !important;
  background: white  !important;
}
table.cart-table-link,
table.cart-table-link:hover,
table.cart-table-linka:focus,
table.cart-table-link:active{
  background: white  !important;
  min-width: 300px !important;
}
