    <section class="big-product">
        <div class="container">
            <div class="row top30" ng-repeat="prod in products">
                <span>&nbsp</span>
                <div>
                    <div class="col-sm-4 product">
                        <!--<img src="product/shirt.jpg" alt="t-shirt" class="img-responsive">-->
                        <img src="{{prod.img}}" alt="t-shirt" class="img-responsive">
                    </div>
                    <div class="col-sm-8 info">
                        <div class="info-wrapper">
                            <h2>{{prod.title}}</h2>
                            <p class="lead">
                                {{prod.desc}}
                            </p>

                            <ul class="list-inline">
                                <li class="currency">
                                    ₹ {{prod.cost}}
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                                Size
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                  <li role="presentation" ng-repeat="prop in prod.sizes"><a role="menuitem" tabindex="-1" href="#">{{prop.label}}</a></li>
                                                  <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Medium</a></li>
                                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Large</a></li>-->
                                            </ul>
                                        </div>
                                </li>
                                <li>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                                Quantity
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
                                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
                                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
                                            </ul>
                                        </div>

                                </li>
                            </ul>
                            <div class="row col-sm-4">
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" ng-click = "remInCart(prod.id, 1)" type="button">-</button>
                                        </span>
                                        <input type="text" class="form-control"  placeholder="{{userCart.cart_products[prod.id].Quantity}}">
                                        <span class="input-group-btn">
                                        <button class="btn btn-secondary" ng-click = "addToCart(prod.id, prod.cost, 1, prod.title)" type="button">+</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-success btn-unique" ng-click = "addToCart(prod.id, prod.cost, 1, prod.title)">Add to Cart<i class="icon-cart-1"></i></a>
                        </div>

                    </div>
                </div>
                <span>&nbsp</span>
            </div>
        </div>
    </section>
