<div id="product-page">
    <div class="wrapper product-wrap" itemscope="" itemtype="http://schema.org/Product">

        <!-- picture grid -->
        <div class="product-image-grid">
      <figure class="big-image">
        <img itemprop="image" src="http://d2qq4423n7kgsb.cloudfront.net/store-happyhour-568de3457ff0c/uploaded/thumbnails/Canadian-Club-89 2_569370b19c219_746xauto-jpg-keep-ratio.jpeg?1452503217" alt="Canadian Club - 750 ml">
      </figure>

            <ul>
                  <li class="image-grid-item"><a href="http://d2qq4423n7kgsb.cloudfront.net/store-happyhour-568de3457ff0c/uploaded/thumbnails/Canadian-Club-892_569370b19c219_746xauto-jpg-keep-ratio.jpeg?1452503217"><img src="//d2qq4423n7kgsb.cloudfront.net/store-happyhour-568de3457ff0c/uploaded/thumbnails/Canadian-Club-89 2_569370b22486e_367x367-jpg-keep-ratio.jpeg?1452503218"></a></li>
                  <li class="image-grid-item"><a href="http://d2qq4423n7kgsb.cloudfront.net/store-happyhour-568de3457ff0c/uploaded/thumbnails/Canadian-Club-94_569370b25d45c_746xauto-jpg-keep-ratio.jpeg?1452503218"><img src="//d2qq4423n7kgsb.cloudfront.net/store-happyhour-568de3457ff0c/uploaded/thumbnails/Canadian-Club-94_569370b2abc02_367x367-jpg-keep-ratio.jpeg?1452503218"></a></li>
              </ul>
          </div>

        <div id="product-form">
            <h1 class="fill-parent">Canadian Club - 750 ml</h1>
            <!-- <hr style="margin: .75em -23% .75em 0;"/> -->
            <meta itemprop="name" content="Canadian Club - 750 ml">
            <meta itemprop="sku" content="canadian-club-750-ml">
            <link itemprop="url" href="/product/wine.png">

            <!-- product cost -->
            <h2 class="fill-parent">
                    $25.95
            </h2>

            <!-- product ratings -->
            <p style="display: inline;">
              <span style="margin-right: -4px">
        ★★★★★      </span>
             (1)
            </p>

            <div class="modal">
                <label class="modal-trigger" for="modal-2">
                    <h2>view</h2>
                </label>
                <input class="modal-state" id="modal-2" type="checkbox">
                <div class="modal-fade-screen modal-view-fade-screen">
                    <div class="modal-inner">
                        <div class="modal-close" for="modal-2"></div>
                        <h1> Canadian Club - 750 ml</h1>

                        <p>
                            <span style="margin-right: -4px">
                    ★★★★★                </span>
                                    Based on 1
                     review                     </p>
                        <a class="blue" href="#" id="write-review-inview"><strong>Write a Review</strong></a>



                        <div class="reviews">
                            <div class="review-rating">★★★★★</div>
                            <p class="review-date">Oct 25th, 2016</p>
                            <p><strong>test</strong></p>
                            <p><em>test</em></p>
                            <p>Test</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <label class="modal-trigger write-review" for="modal-1">
              <h2>write review</h2>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox">

          <!-- product attributes -->
            <div class="product-attributes">
                  </div>

          <!-- product options -->
                            <label for="option-0">colour</label>
              <select id="option-0" name="options[1]" data-ajax-handler="shop:product" data-ajax-update="">
                              <option value="1">red</option>
                              <option value="2">black</option>
                          </select>

          <!-- product extras -->
                <!-- quantity & add-to-cart -->

                          <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <link itemprop="availability" href="http://schema.org/InStock">
              <meta itemprop="priceCurrency" content="USD"> <!-- Should get currency code through variable -->
              <meta itemprop="price" content="25.95">
            </div>

            <!--   -->

            <label>Quantity</label>
            <input class="product-quantity" value="1" name="quantity" type="text">
            <input name="productId" value="5" type="hidden">
            <a class="button next" id="product-add" href="#">Add to Cart</a>


          <time itemprop="releaseDate" datetime=""></time>

        </div>

        <hr class="fill-parent">

        <!-- product details -->
        <h1 class="fill-parent">Product Details</h1>
        <div class="product-description" itemprop="description">
            <h3><p>A brand of whiskey from Canada. Popularly known as C.C., Canadian Club started back in 1858. With a smooth taste this whiskey is the perfect choice for special occasions.</p></h3>
        </div>
        <!-- related products -->
    </div>
</div>
