<!-- Cart Starts -->
<section class="big-product">
        <div class="container">
            <span class="top30">&nbsp;</span>
            <div class="row top30">
                <span ng-hide=userCart.cart_val>
                    <p>There are no items in the cart!</p>
                    <!-- TODO : Add the button to go back -->
                    <div class="button nav-header" ng-click="doTheBack()">Go Back</div>
                    <!-- TODO : Add the button to Start Shopping -->
                    <a href = "#/product">
                        Start Shopping!
                    </a>
                </span>
                <div ng-show=userCart.cart_val>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="(id, itemObj) in userCart.cart_products">
                                <td class="text-center">
                                    <a ng-href="#/product/{{itemObj.URLID}}">
                                        <img src="img/others/cart.png" alt="image" title="image" class="img-responsive">
                                    </a>
                                </td>
                                <td class="text-left" >
                                    <a ng-href="#/product/{{itemObj.URLID}}">{{itemObj.ItemName}}</a>
                                </td>
                                <td class="text-right">x {{itemObj.Quantity}}</td>
                                <td class="text-right">₹ {{itemObj.Quantity * itemObj.CostPerUnit}}</td>
                                <td class="text-center">
                                    <a >
                                        <i class="fa fa-times" ng-click = "remInCart(itemObj.ID, 1)" ></i>
                                    </a>
                                </td>
                            </tr  >
                        </tbody>
                    </table>
                    <p class="text-center btn-block1">
                        <a class= "btn btn-success btn-unique" href="#/checkout">
                            Checkout / Buy Now
                        </a>
                    </p>
                </div>
            </div>
        </div>
</section>
