<div class="container top30">
    <div class="col-sm-8 col-sm-offset-2">

        <!-- PAGE HEADER -->
        <div class=""><h1>Checkout</h1></div>
        <div class=""><h5>Please fill in the following details</h5></div>

        <!-- FORM -->
        <!-- pass in the variable if our form is valid or invalid -->
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

            <!-- NAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Name*</label>
                <input type="text" name="name" class="form-control" ng-model="user.name" required>
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
            </div>

            <!-- Address Line 1 -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.addressline1.$invalid && !userForm.addressline1.$pristine }">
                <label>Address Line 1*</label>
                <input type="text" name="addressline1" class="form-control" ng-model="user.addressline1" ng-minlength="3" ng-maxlength="128" required>
                <p ng-show="userForm.addressline1.$error.minlength" class="help-block">Address Line 1 is too short.</p>
                <p ng-show="userForm.addressline1.$error.maxlength" class="help-block">Address Line 1 is too long.</p>
            </div>

            <!-- Address Line 2 -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.addressline2.$invalid && !userForm.addressline2.$pristine }">
                <label>Address Line 2*</label>
                <input type="text" name="addressline2" class="form-control" ng-model="user.addressline2" ng-minlength="3" ng-maxlength="256" required>
                <p ng-show="userForm.addressline2.$error.minlength" class="help-block">Address Line 2 is too short.</p>
                <p ng-show="userForm.addressline2.$error.maxlength" class="help-block">Address Line 2 is too long.</p>
            </div>

            <!-- Landmark -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.landmark.$invalid && !userForm.landmark.$pristine }">
                <label>Land Mark </label>
                <input type="text" name="landmark" class="form-control" ng-model="user.landmark" ng-maxlength="128">
                <p ng-show="userForm.landmark.$error.maxlength" class="help-block">Landmark is too long.</p>
            </div>

            <!-- City -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine }">
                <label>Enter City Name*</label>
                <input type="text" name="city" class="form-control" ng-model="user.city" ng-minlength="2" ng-maxlength="128" required>
                <p ng-show="userForm.city.$error.minlength" class="help-block">City Name is too short.</p>
                <p ng-show="userForm.city.$error.maxlength" class="help-block">City Name is too long.</p>
                <span class="error" ng-show="myForm.city.$error.required">Required!</span>
            </div>

            <!-- State -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.state.$invalid && !userForm.state.$pristine }">
                <label>Enter State Name*</label>
                <input type="text" name="state" class="form-control" ng-model="user.state" ng-minlength="2" ng-maxlength="128" required>
                <p ng-show="userForm.state.$error.minlength" class="help-block">State Name is too short.</p>
                <p ng-show="userForm.state.$error.maxlength" class="help-block">State Name is too long.</p>
            </div>

            <!-- Pin Code -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.pincode.$invalid && !userForm.pincode.$pristine }">
                <label>Pin Code*</label>
                <input type="text" name="pincode" class="form-control" ng-model="user.pincode" ng-pattern="/^[0-9][0-9]{5}$/" required>
                <p ng-show="userform.pincode.$error.pattern" class="help-block">
                      Please enter 6 digit PinCode
                </p>
            </div>

            <!-- Mobile Number -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.mobile.$invalid && !userForm.mobile.$pristine }">
                <label>Mobile Number*</label>
                <input type="text" name="mobile" class="form-control" ng-model="user.mobile" ng-pattern="/^[7-9][0-9]{9}$/" required>
                <p ng-show="userform.mobile.$error.pattern">
                      Please enter 10 digit Mobile Number
                </p>
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label>Email*</label>
                <!-- Built in validator of angular would pass pushkar@zestl -->
                <!--
                  <input type="email" name="email" class="form-control" ng-model="user.email" required>
                  <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                -->
                <input type="email" name="email" class="form-control" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                <p style="color:Red" ng-show="userForm.email.$dirty && userForm.email.$error.pattern">Please Enter Valid Email</p>
            </div>

            <!-- SUBMIT BUTTON -->
            <!-- <button id="rzp-button1" ng-click ="btnClick()" type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">Proceed with Checkout</button> -->
            <button ng-click ="checkout()" type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">Proceed with Checkout</button>
        </form>

    </div><!-- col-sm-8 -->
</div><!-- /container -->
