<section class="big-product">

    <div class="container">
        <div class="row top30">
            <span>&nbsp</span>
            <div>
                <!-- 4 columns for Image -->
                <div class="col-sm-4 product">
                    <img src="img/wt01.jpeg" alt="Water Timer WT-01" class="img-responsive">
                </div>
                <!-- Remaining 8 columns for Info -->
                <div class="col-sm-8 info">
                    <div class="info-wrapper">
                        <div>
                            <!-- Title Goes here -->
                            <h2><a>WiFi Controlled Water Timer</a></h2>
                        </div>
                        <ul class="list-inline">
                            <li class="currency">
                                ₹ 1899
                            </li>
                            <li >
                                <a href="https://www.ebay.in/itm/Automatic-Water-Timer-Wireless-WiFi-Irrigation-Control-for-Garden/282970135157">Buy on Ebay</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <span>&nbsp</span>
        </div>

        <!-- Description goes here -->
        <div class="panel panel-default">
            <div class="panel-heading">First Time Installation</div>
            <div class="panel-body">
                <span>
<u>First Time Configuration:</u><br>
There are two main things needed : <br>
[A] Configuring the Water Timer's WiFi to connect to your Home WiFi network, and <br>
[B] Registering/Creating an account on ouroborosiot.com, and then adding the WiFi Water Timer<br><br>

Lets walk through each of these in more details one by one:<br><br>

<u><b>[A] Configuring the Water Timer's WiFi:</b></u><br>
Step (1): Power ON the device<br>
Each time the WiFi Water Timer is powered on, it goes into configuration mode for the first 30 seconds.<br>
Step (2): Connect to the OUB_XXXXXXXXXXXX WiFi Access Point<br>
For these 30 seconds, you'd see a WiFi named OUB_XXXXXXXXXXXX. From a mobile phone or PC, connect to this WiFi Access Point using password 12345678<br>
Step (3): Open link http://192.168.0.1/index.html<br>
Once connected, open the link http://192.168.0.1/index.html in any browser (Chrome/Firefox/Internet Explorer). This step has to be completed by first 30 seconds.<br>
If you were unable to complete the last step in less than 30 seconds, fear not. Power off and then power on the WiFi Water Timer again, and retry again. <br>
If you've successfully completed, you should see a webpage like the following: <br><br>

<img src="img/login.jpeg" alt="Login Page" class="img-responsive"><br>

Step (4): Enter username and password<br>
Use the username as admin and password also as admin, and then press Submit button.<br><br>

Now you should see a webpage similar to following:<br><br>

<img src="img/wifi_passwd.jpeg" alt="WiFi Config Page" class="img-responsive"><br>

In this webpage, notice that there's an activation code. Copy this activation code in some text editor (or clipboard), it would be used later [B] to activate your WiFi Water timer against your account<br><br>

Step (5): Enter your Home WiFi Network SSID and its Password, and then press Submit Button<br>
You'd see a message that the Device is configured and going for reboot<br>
<i>NOTE</i> : If you've by mistake put incorrect Home WiFi SSID and/or its Password, or at a later time the Home WiFi setting changes, you need to do the above steps again after power reboot<br><br>
If you've done the above correctly, your device is now ready to be connected to Home WiFi.<br><br>

<u><b>[B] Registering/Creating an account:</b></u><br>
Step (1): Go to ouroborosiot.com, and click on "Login" at top navigation bar.<br>
Step (2): Click on Sign Up / Register, and complete the registration<br>
Step (3): After successfully completing the signup, login using user email / password specified in step 2.<br>
Step (4): On Logging in, you'd see an Empty My Devices section, and a "Add a New Device" form. It would require you to put the Device ID and an Access Key. <br>
The Device ID would be communicated to you via Email after the purchase is complete : Enter that in the Device ID field.<br>
The Access Key is the activation code that was copied on clip board (Step 4 of [A]) : Enter the activation code here. Now click on "Add New Device".<br><br>

If the correct values are provided, you would start to see an entry in My Devices after a refresh.<br><br>

<img src="img/my_devices.png" alt="Login Page" class="img-responsive"><br>

Now you can control your device from My Devices section, by clicking on the "Turn ON" or "Turn OFF" button.<br>

            </span>
          </div>
        </div>

    </div>
</section>
