<!-- LoginModalTemplate.html -->


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login via OTP</h5>
        <button class="close" ng-click="LoginModalCtrl.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="loginForm" ng-submit="LoginModalCtrl.submit(_email, _password)" novalidate>
          <!-- Mobile Number Input & Send OTP link  -->
            <div class="form-group" ng-class="{ 'has-error' : loginForm._email.$invalid && !loginForm._email.$pristine }">
                <label for="_email" class="col-form-label">Mobile Number:</label>
                <input type="text" name="_email" ng-model="_email" ng-pattern="/^[7-9][0-9]{9}$/" class="form-control" required/>
                <!-- Mobile Number Help Block -->
                <p ng-show="loginForm._email.$invalid && !loginForm._email.$pristine" class="help-block">Please enter valid Mobile Number</p>
                <!-- Send OTP Link -->
                <a style="cursor: hand;cursor: pointer;" ng-click="LoginModalCtrl.generateOTP(_email)">Send OTP</a>
            </div>
            <!-- OTP Input -->
            <div class="form-group" ng-class="{ 'has-error' : loginForm._password.$invalid && !loginForm._password.$pristine }">
                <label for="_password" class="col-form-label">OTP:</label>
                <input type="password" name="_password" ng-model="_password" ng-pattern="/^[0-9][0-9]{5}$/"  class="form-control" required/>
                <!-- OTP Help Block -->
                <p ng-show="loginForm._password.$invalid && !loginForm._password.$pristine" class="help-block">Please enter valid OTP (6 digit number)</p>
            </div>
            <!-- Error Block -->
            <!-- <p ng-show="LoginModalCtrl.errorMsg" class="help-block">{{errorMsg}}</p> -->
            <p class="help-block">{{LoginModalCtrl.errorMsg}}</p>
            <!-- Info Block -->
            <p ng-show="LoginModalCtrl.infoMsg" class="info-block">{{LoginModalCtrl.infoMsg}}</p>
            <div class="form-group">
                <button ng-disabled="loginForm.$invalid" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

<!--

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login via OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ng-submit="LoginModalCtrl.submit(_email, _password)">
          <div class="form-group">
            <label for="_email" class="col-form-label">Mobile Number:</label>
            <input type="email" ng-model="_email" class="form-control">
          </div>
          <div class="form-group">
            <label for="_password" class="col-form-label">OTP:</label>
            <input type="password" ng-model="_password" class="form-control"></textarea>
          </div>
          <button type="button" class="btn btn-primary">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Send OTP</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
-->
