<div class="container top30">
    <div class="col-sm-8 col-sm-offset-2">

        <!-- PAGE HEADER -->
        <div class=""><h1>Login</h1></div>
        <div class=""><h5>Please enter the credentials to Login</h5></div>

        <!-- FORM -->
        <!-- pass in the variable if our form is valid or invalid -->
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label>Email</label>
                <!-- Built in validator of angular would pass pushkar@zestl -->
                <!--
                  <input type="email" name="email" class="form-control" ng-model="user.email" required>
                  <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                -->
                <input type="email" name="email" class="form-control" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                <p style="color:Red" ng-show="userForm.email.$dirty && userForm.email.$error.pattern">Please Enter Valid Email</p>
            </div>

            <!-- Password -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <label>Password</label>
                <!--
                  <input type="password" name="password" class="form-control" ng-model="user.password" required>
                  <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter a valid password.</p>
                -->
                <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" ng-maxlength="32" required />
                <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
                <p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p>
            </div>

            <!-- SUBMIT BUTTON -->
            <!-- <button id="rzp-button1" ng-click ="btnClick()" type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">Proceed with Checkout</button> -->
            <button ng-click ="login()" type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">Login</button>

            <!-- Forgot Password -->
            <h3><a href="#/resetpassword">Forgot Password</a></h2>
            <!-- Register -->
            <h3><a href="#/register">Sign Up / Register</a></h2>

        </form>

    </div><!-- col-sm-8 -->
</div><!-- /container -->
