        <!-- Header -->
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <!--<ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>-->

                            <!-- Wrapper for slides -->
                            <!--<div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <img src="img/logo.jpeg" alt="Ouroboros Logo"/>
                                </div>

                                <div class="item">
                                  <img src="img/wt01.png" alt="Water Timer"/>
                                </div>

                                <div class="item">
                                  <img src="img/other.png" alt="Coming Soon"/>
                                </div>

                            </div>

                            <!-- Left and right controls -->
<!--
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </a>

-->
                        </div>

                        <!-- Original Piece of code
                        <img class="img-responsive" src="img/profile.png" alt="">
                        -->
                        <div class="intro-text">
                            <h1 class="name">IoT Devices for Connected World</h1>
                            <hr class="star-light">
                            <span class="skills">WiFi controlled Water Timer</span><br>
                            <span class="skills">Coming Soon - AA battery powered water timer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Product Showcase Grid Section -->
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Products</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#/water-timer" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x">WiFi Water Timer</i>
                                </div>
                            </div>
                            <img src="img/wt01.jpg" class="img-responsive" alt="WiFi Water Timer">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://play.google.com/store/apps/details?id=com.ouroborosiot.ouroborosiot" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x">Ouroboros IoT Android App to configure WiFi Water Timer</i>
                                </div>
                            </div>
                            <img src="img/wt01-config.jpg" class="img-responsive" alt="Ouroboros IoT Android App to configure WiFi Water Timer">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <img src="img/bwt01.jpg" class="img-responsive" alt="AA Battery Water Timer">
                    </div>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section class="success" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Each of our product is proudly conceived, designed and manufactured in India. All the components are of the best possible quality, and tested thoroughly before being shipped.</p>
                    </div>
                    <div class="col-lg-6">
                        <p>We believe in a future full of connected devices. We are passionate group of like minded people, who want to do cascading disruption one step at a time. Keep looking for new product launches very soon.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact Us</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                        <form name="contactForm" novalidate>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="name">Name*</label>
                                    <input type="text" class="form-control" placeholder="Name" id="name" ng-model="contact.name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="email">Email Address*</label>
                                    <input type="email" class="form-control" placeholder="Email Address" id="email" ng-model="contact.email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Mobile Number*</label>
                                    <input type="tel" name="mobile" placeholder="Phone Number" id="phone"  class="form-control" ng-model="contact.mobile" ng-pattern="/^[7-9][0-9]{9}$/" required
                                        data-validation-required-message="Please enter valid 10 digit Mobile Number."
                                    >
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="message">Message*</label>
                                    <textarea rows="5" class="form-control" ng-model="contact.message" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" ng-click="submitContactUsForm(contact)" type="submit" ng-disabled="contactForm.$invalid" class="btn btn-success btn-lg">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
