<div class="container top30">
    <div class="col-sm-8 col-sm-offset-2">
        <!--
        // Get all my devices
        // Response :
        //  {
        //      'error' : false,
        //      'data' : {
        //          'devices' : [
        //              {
        //                  'id'    : 101,                // integer
        //                  'identifier' : '5CCF7FA5D434' // string
        //                  'title' : 'Water Terrace',    // string
        //                  'numoutputs' : 3,             // integer
        //                  'status' : '{...}',           // String - JSON
        //                  'statusRecvTime' : 'Y-m-d h:i:s', // String - Date Time
        //                  'type' : 'TIMER',             // String
        //                  'model' : 'OUB-01'            // String
        //              }, ...
        //          ]
        //      }
        //  }
        -->
        <div class=""><h1><ul>My Devices</ul></h1></div>
        <hr/>

        <!-- Show the Devices in the Order -->
        <table class="table">
            <tbody>
                <!-- (id, identifier, title, numoutputs, status, statusrecvtime, type, model) -->
                <!-- Table Header -->
                <tr>
                    <td class="text-center">Title</td>
                    <td class="text-center hidden-xs hidden-sm">Code</td>
                    <td class="text-center">Status</td>
                    <td class="text-center">Last Updated</td>
                    <td class="text-center hidden-xs hidden-sm">Type</td>
                    <td class="text-center hidden-xs hidden-sm">Model#</td>
                    <td class="text-center">ON</td>
                    <td class="text-center">OFF</td>
                </tr>
                <!-- Repeat over all the products -->
                <tr ng-repeat="device in devices">
                    <td class="text-left">{{device.title}}</td>
                    <td class="text-left hidden-xs hidden-sm">{{device.identifier}}</td>
                    <td class="text-right">{{device.status[0]}}</td>
                    <td class="text-right">{{device.statusRecvTime}}</td>
                    <td class="text-right hidden-xs hidden-sm">{{device.type}}</td>
                    <td class="text-right hidden-xs hidden-sm">{{device.model}}</td>
                    <!--
                        TODO : If a device has more than one GPIO
                        output (numoutputs), then we need multiple buttons
                        Hardcoding to exactly one GPIO for now per device
                    -->
                    <td>
                      <div class="dropdown show">
                          <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Turn ON
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <button ng-click="turn_device_on(device.identifier, 5, 0)">Turn ON Immediately</button>
                              <button ng-click="turn_device_on(device.identifier, 5, 30)">Turn ON For 30 seconds</button>
                              <button ng-click="turn_device_on(device.identifier, 5, 120)">Turn ON For 2 minutes</button>
                              <button ng-click="turn_device_on(device.identifier, 5, 900)">Turn ON For 15 minutes</button>
                              <div class="dropdown-divider"></div>
                              <label class="dropdown-item" >Specify number of seconds to Turn On for</label>
                              <div class="input-group" class="col-lg-6">
                                  <input type="text" class="form-control" name="seconds" ng-init="custom_turn_on_secs=10" ng-model="custom_turn_on_secs" placeholder="Seconds">
                                  <span class="input-group-btn">
                                      <button class="btn btn-secondary" type="button" ng-click="turn_device_on(device.identifier, 5, custom_turn_on_secs)">Go</button>
                                  </span>
                              </div>
                          </div>
                      </div>
                    <!--<td><button ng-click="turn_device_on(device.identifier, 0, 0)">Turn ON</button></td>-->
                    <td><button ng-click="turn_device_off(device.identifier, 5)">Turn OFF</button></td>
                </tr>
            </tbody>
        </table>

        <div class=""><h4>Add a New Device</h4></div>
        <!-- Provide a form through which you could add a new device -->
        <div class="panel panel-default">
            <div class="panel-heading">PART 1: Configuring WiFi of the Ouroboros Device</div>
            <div class="panel-body">
		<label>Steps</label>
		<p class="h4">1) Ensure your Ouroboros Device is powered ON</p>
		<p class="h4">2) Ensure that Ouroboros Device is in Setup mode. If not, you need to press on the Reset button for around 10 seconds and wait for device to enter into Setup mode</p>
		<p class="h4">3) Go to WiFi settings of your laptop/mobile where from you are viewing this page, and connect to network OUB1_XXXXXXXXXXXX (Use the password '12345678') </p>
		<p class="h4">4) Click on the button 'Configure' below. Use the username 'admin' and password 'admin', and then specify the WiFi Network Name(SSID) and WiFi Network Password to which you want the Ouroboros Device to connect. Once complete, copy the DeviceID and AccessKey and paste in PART 2 section below.</p>
		<a href="http://192.168.0.1" class="btn btn-primary" target="_blank">Configure</a> 

            </div>
        </div>
        <!-- Provide a form through which you could add a new device -->
        <div class="panel panel-default">
            <div class="panel-heading">PART 2: Linking the device with your account</div>
            <div class="panel-body">
                <form name="linkNewDeviceForm" ng-submit="submitForm(linkNewDeviceForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                    <!-- Device Identifier -->
                    <div class="form-group" ng-class="{ 'has-error' : linkNewDeviceForm.devIdentifier.$invalid && !linkNewDeviceForm.devIdentifier.$pristine }">
                        <label>Device ID</label>
                        <input type="devIdentifier" name="devIdentifier" class="form-control" ng-model="linkDev.devIdentifier"  ng-minlength="3" ng-maxlength="32" required />
                        <p style="color:Red" ng-show="linkNewDeviceForm.devIdentifier.$dirty && linkNewDeviceForm.devIdentifier.$error.pattern">Please Enter Valid Device ID</p>
                    </div>
                    <!-- Access Key -->
                    <div class="form-group" ng-class="{ 'has-error' : linkNewDeviceForm.accessKey.$invalid && !linkNewDeviceForm.accessKey.$pristine }">
                        <label>Enter Access Key</label>
                        <input type="password" name="accessKey" class="form-control" ng-model="linkDev.accessKey" ng-minlength="3" ng-maxlength="1024" required />
                        <p ng-show="linkNewDeviceForm.accessKey.$error.minlength" class="help-block">Access Key is too short.</p>
                        <p ng-show="linkNewDeviceForm.accessKey.$error.maxlength" class="help-block">Access Key is too long.</p>
                    </div>
                    <!-- SUBMIT BUTTON -->
                    <!-- <button id="rzp-button1" ng-click ="btnClick()" type="submit" ng-disabled="linkNewDeviceForm.$invalid" class="btn btn-primary">Proceed with Checkout</button> -->
                    <button ng-click ="link_new_device()" type="submit" ng-disabled="linkNewDeviceForm.$invalid" class="btn btn-primary">Add New Device</button>
                </form>
            </div>
        </div>
        <hr/>
    </div>
</div>
