<div class="container top30">
    <div class="col-sm-8 col-sm-offset-2">
        <!--
        //  [
        //      {
        //          'rzp_orderid' : 'rzp_A34RFhgs45',     // RazorPay OrderID - string
        //          'products' : [
        //              {
        //                  'id'    : 101,                // integer
        //                  'mrp'   : 1499.0,             // float
        //                  'units' : 3,                  // integer
        //                  'title' : 'Teddy Bear (M)',   // String
        //                  'tax_percentage' : 10.0,      // Float
        //                  'tax_per_unit' : 149.0,       // float
        //                  'total_tax' : 447.0           // float
        //                  'total_incl_tax' : 4944.0     // float
        //              }, ...
        //          ],
        //          'total_excl_tax' : 4497.0,            // float
        //          'tax' : 447.0,                        // float
        //          'total' : 4944.0,                      // float
        //          'delivery_address' : {
        //              'name'  : '...',
        //              'line1' : '...',
        //              'line2' : '...',
        //              'city' : '...',
        //              'mobile' : '...',
        //              'email' : '...'
        //          },
        //          'date_created' : '2018-01-05 12:05:54'
        //      },
        //      ... // Other Order entry
        //  ]
        -->
        <div class=""><h1><ul>My Orders</ul></h1></div>
        <hr/>
        <div ng-repeat="order in orders" ng-init="products = order.products; delivery_address = order.delivery_address; total = order.total">
            <div class=""><h2>{{order.rzp_orderid}}</h2></div>
            <div class=""><h4>{{order.date_created}} UTC</h4></div>
            <!-- Show the Products in the Order -->
            <table class="table">
                <tbody>
                    <!-- (id, mrp, units, title, tax_percentage, tax_per_unit, total_tax, total_incl_tax) -->
                    <!-- Table Header -->
                    <tr>
                        <td class="text-center">Product</td>
                        <td class="text-center">Price</td>
                        <td class="text-center">Units</td>
                        <td class="text-center">GST(%)</td>
                        <td class="text-center">Total</td>
                    </tr>
                    <!-- Repeat over all the products -->
                    <tr ng-repeat="prod in products">
                        <td class="text-left"><a ng-href="#/product/{{prod.urlid}}">{{prod.title}}</a></td>
                        <td class="text-center" class="col-md-2">{{prod.mrp}}</td>
                        <td class="text-right">x {{prod.units}}</td>
                        <td class="text-right">{{prod.tax_percentage}} %</td>
                        <td class="text-right">₹ {{prod.total_incl_tax}}</td>
                    </tr>
                </tbody>
            </table>
            <div class=""><h4>Total Amount : ₹ {{total}}</h4></div>
            <!-- Show the Delivery Address information -->
            <div class="panel panel-default">
                <div class="panel-heading">Delivery Address</div>
                <div class="panel-body">
                  <p>{{delivery_address.name}}</p>
                  <p>{{delivery_address.addressline1}}, {{delivery_address.addressline2}}, {{delivery_address.landmark}}</p>
                  <p>{{delivery_address.city}}, {{delivery_address.state}}, {{delivery_address.pincode}}</p>
                  <p>{{delivery_address.mobile}}</p>
                  <p>{{delivery_address.email}}</p>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>
