<!-- Navigation -->
        <!--<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom"> -->
         <!-- <nav id="mainNav" class="navbar navbar-default navbar-static-top navbar-custom" style="margin-bottom : 0px;">-->
         <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="margin-bottom : 0px;">
            <div class="container-fluid" ng-controller = "NavController">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Cart <span ng-show="userCart.cart_size>0" style="color:orange">({{userCart.cart_size}}) </span><i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#page-top">Ouroboros IoT</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="hidden">
                            <a href="#/main#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#/main#portfolio">Products</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#/main#about">About</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#/main#contact">Contact</a>
                        </li>
                        <!-- Add the Login Anchor -->
                        <li ng-if="!userInfo.authorization">
                            <a href="#/login">Login</a>
                        </li>
                        <li ng-if="userInfo.authorization">
                            <a href="#/mydevices">My Devices</a>
                        </li>
                        <li ng-if="userInfo.authorization">
                            <a href="#/main" ng-click = "logout()">Logout</a>
                        </li>
                    </ul>
                </div>
						</div>                <!-- /.navbar-collapse -->
        </nav> <!-- /.container-fluid -->
