<section class="big-product">
    <!-- <a ng-show="projects_loading">Loading...</a>-->

    <div ng-show="globalStore.in_progress" class="progress progress-striped">
        <div class="progress-bar" style="width: 60%;">
            <span class="sr-only">Loading..</span>
        </div>
    </div>


    <div ng-show="!globalStore.in_progress"  class="container">
        <div class="row top30">
            <span>&nbsp</span>
            <div>
                <!-- 4 columns for Image -->
                <div class="col-sm-4 product">
                    <img src="{{prod.img}}" alt="{{prod.title}}" class="img-responsive">
                </div>
                <!-- Remaining 8 columns for Info -->
                <div class="col-sm-8 info">
                    <div class="info-wrapper">
                        <div>
                            <!-- Title Goes here -->
                            <h2><a>{{prod.title | limitTo : 200}}</a></h2>
                        </div>
                        <ul class="list-inline">
                            <li class="currency">
                                ₹ {{prod.cost}}
                            </li>
                        </ul>
<!--
                        <ul class="list-inline">
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                        Size
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                          <li role="presentation" ng-repeat="prop in prod.sizes"><a role="menuitem" tabindex="-1" href="#">{{prop.label}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                        Quantity
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
-->
                        <div class="row col-sm-4">
                            <div>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" ng-click = "remInCart(prod.id, 1)" type="button">-</button>
                                    </span>
                                    <input type="text" class="form-control" ng-readonly="true" placeholder="{{userCart.cart_products[prod.id].Quantity}}">
                                    <span class="input-group-btn">
                                    <button class="btn btn-secondary" ng-click = "addToCart(prod.id, prod.urlid, prod.cost, 1, prod.title)" type="button">+</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-success btn-unique" ng-click = "addToCart(prod.id, prod.urlid, prod.cost, 1, prod.title)">Add to Cart<i class="icon-cart-1"></i></a>
                    </div>
                </div>
            </div>
            <span>&nbsp</span>
        </div>

        <!-- Description goes here -->
        <div class="panel panel-default">
            <div class="panel-heading">Product Description</div>
            <div class="panel-body">{{prod.desc}}</div>
        </div>
        <!-- <p class="lead">{{prod.desc}}</p> -->

        <!-- Show all the products if the searchtext is not empty -->
        <div class="container text-center">
            <!-- Take to the first page without any search text filter -->
            <a style="cursor: hand;cursor: pointer;" ng-click="search('', 0)">See all Products</a>
        </div>
    </div>
</section>
