<h1>Refund Policy</h1>

<h4>Returns</h4>

Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
To complete your return, we require a receipt or proof of purchase.
Please do not send your purchase back to the manufacturer.

<h4>Refunds (if applicable)</h4>

Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.


<h4>Late or missing refunds (if applicable)</h4>

If you haven’t received a refund yet, first check your bank account again.
Then contact your credit card company, it may take some time before your refund is officially posted.
Next contact your bank. There is often some processing time before a refund is posted.
If you’ve done all of this and you still have not received your refund yet, please contact us at atoto05@gmail.com


<h4>Sale items (if applicable)</h4>

Only regular priced items may be refunded, unfortunately sale items cannot be refunded.

<h4>Exchanges (if applicable)</h4>

We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at atoto05@gmail.com and send your item to:
Ouroboros Enterprises
401-B, Nirman Exotica,
Ram Nagar Colony,
Bawdhan,
Pune-411021, MH, India


<h4>Shipping</h4>

To return your product, you should mail your product to:
Ouroboros Enterprises
401-B, Nirman Exotica,
Ram Nagar Colony,
Bawdhan,
Pune-411021, MH, India


You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.

Depending on where you live, the time it may take for your exchanged product to reach you, may vary.

If you are shipping an item over 1000 Rs, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
