<section class="big-product">

    <div class="container">
        <div class="row top30">
            <span>&nbsp</span>
            <div>
                <!-- 4 columns for Image -->
                <div class="col-sm-4 product">
                    <img src="img/wt01.jpg" alt="Water Timer WT-01" class="img-responsive">
                </div>
                <!-- Remaining 8 columns for Info -->
                <div class="col-sm-8 info">
                    <div class="info-wrapper">
                        <div>
                            <!-- Title Goes here -->
                            <h2><a>WiFi Controlled Water Timer</a></h2>
                        </div>
                        <div>
				<p> </p>
                        </div>
                        <ul class="list-inline">
                            <li class="currency">
                                <h4>₹ 3199</h4>
                            </li>
                            <li >
                                <a href="https://www.amazon.in/dp/B08QJQBP2C" class="btn btn-primary" target="_blank">Buy on Amazon</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <span>&nbsp</span>
        </div>

        <!-- Description goes here -->
        <div class="panel panel-default">
            <div class="panel-heading">Product Description</div>
            <div class="panel-body">
                <span>
<u>Casing & dimenions:</u><br>
The case/box dimension is approx 80 X 120 X 60 mm made of extremely strong ABS Plastic.<br><br>

<u>Valve Info:</u><br>
The solenoid valve has diameter 3/4'' (20.5 mm). This is more than sufficient for all the gardening needs and moderate water flow applications. The water inlet outlet portions are made of extremely heavy duty Stainless steel, which has very long life.<br><br>

<u>Power Requirements:</u><br>
The power adapter (AC to DC) provided with this timer is of rating 12V 1A. <br>
It needs around 0.4 Watt of power when water is not flowing (OFF Mode), and around 5 Watt when water is flowing (ON mode).<br><br>

<u>LED Indicator and Switches:</u><br>
There are four LED indicator:<br>
a) Auto ON : If the Valve has turned ON (water flowing) based on program scheduled<br>
b) Manual ON : If the Valve has turned ON (water flowing) by pushing on the "Manual ON" switch<br>
c) Setup Mode : If the device is in configuration / setup mode<br>
d) WiFi Status : Once device has been setup to connect to WiFi, this LED indicates if the device is connected to Home WiFi (solid LED) or not (blinking LED)<br>
There are 2 switches:<br>
a) Manual ON : To turn ON watering any time<br>
b) Reset : To reset device, ie, to put the device in configuration mode<br>
<br><br>


<u>Using AA battery:</u><br>
While this would work with AA batteries (or special 12V small battery), the battery would not last too long. Even with miniscule 0.4 Watt requirement, if someone tried to power this with 8 AA batteries of 2000 mAh rating each, the battery would be drained in less than 2-3 days. As the device is connected to Cloud (internet) via WiFi at all times, the device can be turned ON/OFF at any time from any where, and as a result, it needs a small amount of power (~0.4 Watt).<br><br>

<u>About Product:</u><br>
The WiFi water timer has been extensively tested in our labs, and it is very sturdy against WiFi disconnects, slow internet connection, etc.<br>
The device can be controlled from the <a href="https://play.google.com/store/apps/details?id=com.ouroborosiot.ouroborosiot">Ouroboros IoT</a> Android App Or from Website, which is responsive, so it would be easy to use it from mobile devices also.<br><br>

<u>Origin:</u><br>
Proudly conceived, designed and manufactured in India. All the components are of the best possible quality, and tested thoroughly before being shipped.<br><br>

<u>Warranty:</u><br>
Electronic products generally don't carry warranty, but if things don't turn out to be as expected (within 7 days of delivery), we'd want you to get in touch with customer care and see if things get sorted.<br><br>

<u>How To Configure:</u><br>
<a href="https://play.google.com/store/apps/details?id=com.ouroborosiot.ouroborosiot">Click here</a> to install Ouroboros IoT Android App. 

</span>
          </div>
        </div>

    </div>
</section>
